@page
@model SampleUniversity.Pages.Courses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Kursu saraksts</h1>

<p>
    <a asp-page="Create">Pievienot jaunu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Credits)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Course) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CourseID">Rediģēt</a> |
                <a asp-page="./Details" asp-route-id="@item.CourseID">Skatīt</a> |
                <a asp-page="./Delete" asp-route-id="@item.CourseID">Dzēst</a>
            </td>
        </tr>
}
    </tbody>
</table>
